@page
@model RPC.Pages_Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Añadir un nuevo integrante a la red de programación</h1>

<h4>Integrante</h4>
<hr />

<section class="mainUserContainer">
    <div class="imageUI">
    </div>
    <div class="logNewContainer">
        <div class="newLogin">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User.UserName" class="control-label"></label>
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Password" class="control-label"></label>
                        <input asp-for="User.Password" class="form-control" />
                        <span asp-validation-for="User.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.FirstName" class="control-label"></label>
                        <input asp-for="User.FirstName" class="form-control" />
                        <span asp-validation-for="User.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.LastName" class="control-label"></label>
                        <input asp-for="User.LastName" class="form-control" />
                        <span asp-validation-for="User.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Birthday" class="control-label"></label>
                        <input asp-for="User.Birthday" class="form-control" />
                        <span asp-validation-for="User.Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.photo" class="control-label"></label>
                        <input asp-for="User.photo" class="form-control" />
                        <span asp-validation-for="User.photo" class="text-danger"></span>
                    </div>

                    <div>
                        <div class="form-group">
                            <input type="submit" value="Añadir integrante" class="btn btn-primary" />
                        </div>
                        <div>
                            <a input type="submit" class="btn btn-primary" href="https://localhost:7163/">
                                Salir
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
