html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainContainer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.logContainer {
    width: 1150px;
    height: 600px;
    background-color: #30313e;
    border-radius: 23px;
    box-shadow: black 7px 8px 10px 0px;
    display: flex;
}

.loginImage {
    background-color: #432589;
    width: 60%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.login {
    background-color: #e9ecef;
    width: 40%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.WelcomeText {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 200px;
}

.end {
    height: 45%;
    bottom: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

.label {
    background-color: #0000ff00;
    margin: 10px;
    color: black;
    padding: 10px;
    border-width: 0px;
    border-bottom: 2px solid black;
    border-style: solid;
    margin-bottom: 22px;
}

    .label:focus-visible {
        outline: -webkit-focus-ring-color auto 0px;
    }

.button {
    margin: 10px;
    background-color: #332258;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    outline: none;
}