@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (!Model.isLogged)
{
    <script>
        window.alert("Contraseña o nombre de usuario inválido");
    </script>
}
<div class="text-center">
    <section class="mainContainer">
        <section class="logContainer">
            <div class="loginImage">
                <div class="WelcomeText">
                    <h1>
                        Hola mundo!
                    </h1>
                    <p>
                        Bienvenido a la Red de Programación Competitiva
                    </p>
                </div>
                <p class="end">El límite lo pones tú</p>
            </div>
            <div class="login">
                <p>
                    Inicia sesión
                </p>

                <form method="post">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group row">
                        <input type="text" asp-for="UserRPC.UserName" class="form-control" placeholder="Usuario" required/>
                    </div>

                    <div class="form-group row">
                        <input type="password" asp-for="UserRPC.Password" class="form-control" placeholder="Contraseña" required/><br>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-primary" value="Iniciar Sesión" />
                    </div>
                </form>

                <form method="get" action="/Users/Create">
                    <button type="submit" class="btn btn-primary">Crear cuenta</button><br><br>
                </form>

            </div>
        </section>
    </section>
</div>


