@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <section class="mainContainer">
        <section class="logContainer">
            <div class="loginImage">
                <div class="WelcomeText">
                    <h1>
                        Hola mundo!
                    </h1>
                    <p>
                        Bienvenido a la Red de Programación Competitiva
                    </p>
                </div>
                <p class="end">El límite lo pones tú</p>
            </div>
            <div class="login">
                <p>
                    Inicia sesión
                </p>
                
                <form>
                    <input type="text" name="email" id="user" class="label" placeholder="Usuario">
                    <br/>
                    <input type="password" class="label" placeholder="Contraseña">
                    <br/>
                    <input type="button" value="Iniciar sesión" class="button" onserverclick = "uwu">
                    <br/>
                    <a href="https://localhost:7163/Users/Create">
                        <input type="button" value="Crear cuenta" class="button">
                    </a>
                </form>
            </div>
        </section>
    </section>
</div>
